# Ignorar archivos sensibles
.env
config.py

# Ignorar directorios
/node_modules
__pycache__/
/data
/build
/dist

# Ignorar archivos temporales
*.log
*.tmp

# Ignorar archivos del sistema operativo
.DS_Store
Thumbs.db
